@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
    background-color: black;
}

.container {
    width: 90%;
    padding: 10px;
    align-items: center;
}

.message-green {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background: linear-gradient(90deg, rgb(117, 201, 141), rgb(86, 181, 184));
    width: 100%;
    height: 80px;
    text-align: left;
    font: 900 .9em 'Open Sans', sans-serif;
    border: 1px solid rgb(117, 201, 141);
    border-radius: 10px;
    font-size: large;
}

.message-orange {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background: linear-gradient(90deg, rgb(230 213 98), rgb(218 155 62));
    width: 100%;
    height: 80px;
    text-align: left;
    font: 900 .9em 'Open Sans', sans-serif;
    border: 1px solid rgb(230 213 98);
    border-radius: 10px;
    font-size: large;
}
.message-red {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background: linear-gradient(90deg, rgb(204 52 61), rgb(195 124 133));
    width: 100%;
    height: 80px;
    text-align: left;
    font: 900 .9em 'Open Sans', sans-serif;
    border: 1px solid rgb(204 52 61);
    border-radius: 10px;
    font-size: large;
}
.message-blue {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background: linear-gradient(90deg, rgb(80 123 197), rgb(132 141 183));
    width: 100%;
    height: 80px;
    text-align: left;
    font: 900 .9em 'Open Sans', sans-serif;
    border: 1px solid rgb(80 123 197);
    border-radius: 10px;
    font-size: large;
}

.message-content {
    padding: 0;
    margin: 0;
}

.message-timestamp-right {
    position: absolute;
    font-size: .85em;
    font-weight: 900;
    bottom: 1px;
    right: 5px;
}


.message-green:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid rgb(117 201 141);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-green:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid rgb(117,201,141);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid rgb(230 213 98);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid rgb(230 213 98);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}
.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid rgb(80 123 197);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid rgb(80 123 197);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-red:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid rgb(204 52 61);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-red:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid rgb(204 52 61);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}












